
@import 'app-frame-breakpoints.css';

.app-frame-container {

    position: relative;
    width: 100%;
    height: 100%;
}

.app-frame__side-nav {
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0px;
    will-change: width;

    @media(--small-devices) {
        width:50px;
    }
}

.app-frame--side-nav-open .app-frame__side-nav {

    width: 80%;
    /*min-width: 200px;*/
    max-width: 100%;

    @media(--small-devices) {
        width:200px;
    }
}

.app-frame__page {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media(--small-devices) {
        left:50px;
    }
}

.app-frame--side-nav-open .app-frame__page {

    @media(--x-large-devices) {
        left:200px;
    }
}

.app-frame__mobile-nav {

    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;

    @media(--small-devices) {
        height:0px;
    }
}


.app-frame__page {
    background-color: red;
    transition: bottom 0.3s, top 0.3s, left 0.3s, right 0.3s;
}

.app-frame__side-nav {
    background-color: blue;
    transition: width 0.3s, max-width 0.3s, min-width 0.3s;
}

.app-frame__mobile-nav {
    background-color: green;
    transition: height 0.3s;
}