
@import '../app-frame-breakpoints.css';

:root {

    --mobile-sidebarOpen-width: 80vw;
    --mobile-sidebarClosed-width: 0px;
    --sidebarOpen-width: 250px;
    --sidebarClosed-width: 50px;
}

.side-nav-container {
    
    overflow: hidden;
    height: 100%;
    will-change: width;

    width: var(--mobile-sidebarClosed-width);
    

    @media(--small-devices) {

        width: var(--sidebarClosed-width);
    }
}

[open] > .side-nav-container {

    width: var(--mobile-sidebarOpen-width);


    @media(--small-devices) {

        width: var(--sidebarOpen-width);
    }
}


.side-nav-container .side-nav-container-inner {

    position:relative;
    overflow: hidden;
    height: 100%;

    float: right;
    width: var(--mobile-sidebarOpen-width);
    

    @media(--small-devices) {
        
        width: 100%;
        float: left;
    }
}


.side-nav-container {
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);

}

.side-nav-container {
    transition: width 0.2s, max-width 0.2s, min-width 0.2s, transform 0.2s, margin-left 0.2s;
}


.side-nav-container .side-nav__logo {
    
    height: 50px;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;

    
    & small {

        display: none;

        @media(--small-devices) {
            display: block;
        }
    }

    & big {

        display: block;

        @media(--small-devices) {
            display: none;
        }
    }
    
}

[open] > .side-nav-container .side-nav__logo {

    & small {
        display:none;
    }

    & big {
        display: block;
    }
}